<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- INHERITED FROM SALES (MAIN USER MENU) -->
    <menuitem
        id="res_partner_menu_customer"
        name="Customer Cars"
        parent="crm.crm_menu_sales"
        action="action_partner_car_contact"
        sequence="6"/>

    <menuitem 
        id="res_partner_menu"
        name="Customer Cars"
        parent="sale.sale_order_menu"
        action="action_partner_car_contact"
        groups="sales_team.group_sale_salesman"
        sequence="40"/>

    <!-- Menu untuk Service Advisor -->
    <menuitem 
        id="res_pitcar_service_advisor_menu"
        name="Service Advisors"
        action="action_pitcar_service_advisor"
        parent="sale.menu_sale_config"
        sequence="19"/>

    <menuitem
        id="res_partner_car_mechanic_menu"
        name="Mechanics Teams"
        parent="sale.menu_sale_config"
        action="action_pitcar_mechanic_new"
        sequence="21"/>

    <menuitem
        id="res_partner_car_menu"
        name="Car Management"
        parent="sale.menu_sale_config"
        groups="sales_team.group_sale_salesman"
        sequence="25">

        <menuitem
            id="res_car_brand_menu"
            name="Car Brands"
            action="action_res_partner_car_brand"
            sequence="10"/>

        <menuitem
            id="res_car_type_menu"
            name="Car Types"
            action="action_res_partner_car_type"
            sequence="20"/>
        
    </menuitem>
    
    <menuitem
        id="res_partner_category_menu"
        name="Customer Tags"
        parent="sale.menu_sales_config"
        action="action_res_partner_category"
        sequence="30"/>

    <menuitem
        id="res_product_tag_menu"
        name="Product Tags"
        parent="sale.menu_sales_config"
        action="action_product_tag"
        sequence="31"/>

</odoo>