.o_form_view .o_group {
  margin-bottom: 20px;
}

.o_form_view .lead_time_widget {
  margin-bottom: 10px;
}

.o_form_view .btn-sm {
  width: 100%;
}

.o_form_view .o_horizontal_separator {
  color: #7C7BAD;
  font-weight: bold;
}

.o_form_view .o_group.o_inner_group.controller_group {
  width: 100%;
}

.o_form_view .o_group.o_inner_group.controller_group > tbody > tr > td.o_td_label {
  width: 200px;
  min-width: 200px;
}

.o_form_view .lead_time_widget {
  width: 120px !important;
  margin-right: 5px;
}

.o_form_view .oe_inline + .oe_inline {
  margin-left: 10px;
}

.o_form_view .oe_inline + .oe_inline.oe_link {
  margin-left: 10px;
}

.o_form_view .car_arrival_time_container {
  display: flex;
  align-items: center;
}

.o_form_view .car_arrival_time_container > * {
  margin-right: 10px;
}

.o_group_controller .o_form_label {
  width: auto !important; /* Set width ke auto agar tidak mempengaruhi layout */
  max-width: none;
  min-width: auto;
}
.o_group_controller .o_input_controller {
  width: 50% !important;
  min-width: 200px;
}

.o_group_controller .o_group {
  margin-bottom: 15px;
  width: 100%;
}

.o_group_controller .o_group > tbody > tr > td.o_td_label {
  padding-right: 15px;
}

.o_group_controller .o_group > tbody > tr > td.o_td_label + td {
  padding-left: 15px;
}

.o_group_controller .o_input_controller input {
  width: 100% !important;
  padding: 6px 12px;
  font-size: 14px;
}

.o_group_controller .o_group > tbody > tr {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.o_group_controller .o_group > tbody > tr > td {
  flex: 1;
}

.o_group_controller2 .o_form_label {
  width: 100%; /* Set width ke auto agar tidak mempengaruhi layout */
  max-width: none;
  min-width: 200px;
}

/* radio */
.o_group_controller .o_radio_container {
  display: inline-flex;
  align-items: center;
  gap: 10px; /* Mengatur jarak antara radio button dan label */
  min-width: auto !important; /* Memastikan kontainer tidak terlalu lebar */
  margin-right: 10px; /* Sesuaikan jarak antara label Ya dan Tidak */
}